// global transition css

/* fade */
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-active {
	opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
	transition: all 0.36s;
}

.fade-transform-enter {
	transform: translateX(-30px);
	opacity: 0;
}

.fade-transform-leave-to {
	transform: translateX(30px);
	opacity: 0;
}

.opacity-enter-to,
.opacity-leave-from {
	opacity: 1; /**从0透明度1 开始**/
}
.opacity-enter-from,
.opacity-leave-to {
	opacity: 0; /**从默认透明度0 开始**/
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
	transition: all 0.5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
	transform: translateX(20px);
	opacity: 0;
}

.breadcrumb-move {
	transition: all 0.5s;
}

.breadcrumb-leave-active {
	position: absolute;
}
