$headerHeight: 36px;
$height: 34px;

.toolbar-wrapper {
	margin-bottom: 5px;
}
.toolbar-wrapper {
	@include flex-row(flex-end, space-between);

	.tools-l {
		@include flex-row(center);
	}
	.tools-r {
		.custom-table {
			position: relative;
			margin-top: 5px;
			color: $primary;
			font-size: 14px;
			cursor: pointer;
		}
	}
}
.table-wrapper {
	.required {
		margin-right: 3px;
		color: $danger;
		vertical-align: middle;
	}
}

.pagination-wrapper {
	margin-top: 5px;
	text-align: right;
}
